#tabsplit-button {
  list-style-image: url("chrome://tabsplit/content/img/tabsplit-fox.png");
}

.tabsplit-tab > .tab-stack {
  border-width: 4px;
  border-top-style: solid;
  /* We dynamically set the color at .tabsplit-tab so inherit the color here. */
  border-color: inherit;
}

.tabsplit-tab-first > .tab-stack {
  border-left-style: solid;
}

.tabsplit-tab-last > .tab-stack {
  border-right-style: solid; 
}

.tabsplit-tab .tab-line {
  display: none;
}

.tabsplit-focus {
  outline: 4px solid #9ae08d;
  outline-offset: -4px;
}

.tabsplit-spliter-container {
  position: relative;
}

.tabsplit-column-splitter {
  /* `width` will be set in the view */
  height: 100%;
  background: #e7e8e9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: col-resize;
  display: none;
}

#tabsplit-iframe-for-resize {
  width: 100%;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
}
